<body style="color: black; background-color:lightgrey">
<h3>
    <i class="fas fa-tasks"></i> Todo List
</h3>
<div class="section">
    <p class="lead">Create, edit and manage your tasks on the go!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Login with Google
    </a>
</div>
</body>