p {
    margin: 10px 0 !important; /* flag to override it with materialize */
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.btn-float{
    float: left;
    margin-right: 5px;
}

body {
    background-color: rgb(17, 3, 36);
    color: white;
  }